{% extends 'base.html' %}

{% block title %}Eliminar producto{% endblock %}

{% block content %}
  <form action="" method="post" >
    {% csrf_token %}

    <div class="row">
      <div class="col-4 offset-4">
        <div class="form-group">
          <h3>¿Desea eliminar el producto {{producto.producto_nombre}}?</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-4">
        <div class="form-group text-center">
          <input type="submit" class="btn btn-primary" value="Eliminar">
          <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
        </div>
      </div>
    </div>

  </form>
{% endblock %}